.custom-paginator {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-paginator mat-form-field {
  position: absolute;
  left: 0;
  top: -2px;
}

.custom-paginator mat-paginator {
  flex-grow: 1;
}

