<div class="rowContainer topMargin">
  <input-clearable
    class="input"
    placeholder="Name"
    [(ngModel)]="name"
  ></input-clearable>
    <input-clearable
        class="input"
        placeholder="Description"
        [(ngModel)]="description"
    ></input-clearable>
  <input-clearable
    class="input"
    placeholder="Price"
    [(ngModel)]="price"
  ></input-clearable>
  <button
    mat-raised-button
    color="primary"
    class="button"
    (click)="handleAddDataToDatabase()"
  >
    Add to DB
  </button>
</div>
<div class="rowContainer topMargin">
  <input-clearable
    class="input"
    placeholder="id"
    [(ngModel)]="id"
  ></input-clearable>
  <button
    mat-raised-button
    color="primary"
    class="button"
    (click)="handleDeleteDataFromDatabase()"
  >
    Delete from DB
  </button>

  <style>
    .rowContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    .topMargin {
      margin-top: 20px;
    }
    .leftMargin {
      margin-left: 220px;
    }
    .button {
      height: 56px;
      top: -1px;
      width: 200px;
    }
    .input {
      height: 60px; /* Set the same height as the button */
      box-sizing: border-box; /* Use border-box for consistent box-sizing */
    }
  </style>
</div>
