<div class="flex flex-col">
  <div class="flex flex-row items-center gap-4">
    <mat-form-field>
      <mat-label>Ingredients</mat-label>
      <mat-select
        multiple
        [(ngModel)]="selectedIngredients"
        (selectionChange)="onIngredientSelectionChange($event)"
      >
        <mat-option
          *ngFor="let ingredient of allIngredients"
          [value]="ingredient"
        >
          {{ ingredient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="usePlaceholderData()"
    >
      Use Placeholder Data
    </button>
  </div>

  <div class="flex flex-row items-center gap-4">
    <!-- Custom Columns Form -->
    <mat-form-field>
      <mat-label>Var1</mat-label>
      <mat-select [(ngModel)]="columnVar1">
        <mat-option value="price">Price</mat-option>
        <mat-option
          *ngFor="let ingredient of selectedIngredients"
          [value]="ingredient.name"
          >{{ ingredient.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="text-xl w-[212px] text-center">/</div>

    <mat-form-field>
      <mat-label>Var2</mat-label>
      <mat-select [(ngModel)]="columnVar2">
        <mat-option value="price">Price</mat-option>
        <mat-option
          *ngFor="let ingredient of selectedIngredients"
          [value]="ingredient.name"
          >{{ ingredient.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="setCustomColumns()"
    >
      Set Custom Columns
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="clearCustomColumns()"
    >
      Clear Custom Columns
    </button>
  </div>

  <div class="flex flex-row items-center gap-4">
    <div *ngFor="let column of customColumns" class=" h-12 w-12 text-ellipsis bg-slate-500">
      {{ column }}
    </div>
  </div>

  <div class="flex flex-row items-center gap-4">
    <!-- Custom Conditions Form -->
    <mat-form-field>
      <mat-label>Var1</mat-label>
      <mat-select [(ngModel)]="conditionVar1">
        <mat-option value="price">Price</mat-option>
        <mat-option
          *ngFor="let ingredient of selectedIngredients"
          [value]="ingredient.name"
          >{{ ingredient.name }}</mat-option
        >
        <!-- columns for every index in customColumns -->
        <mat-option
          *ngFor="let column of customColumns"
          [value]="column"
          >{{ column }}</mat-option>
      </mat-select>
    </mat-form-field>




    <mat-form-field>
      <mat-label>Operator</mat-label>
      <mat-select [(ngModel)]="operator">
        <mat-option value=">">></mat-option>
        <mat-option value="<"><</mat-option>
        <mat-option value="=">=</mat-option>
        <mat-option value="!">!</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Var2</mat-label>
      <mat-select [(ngModel)]="conditionVar2">
        <mat-option value="price">Price</mat-option>
        <mat-option
          *ngFor="let ingredient of selectedIngredients"
          [value]="ingredient.name"
          >{{ ingredient.name }}</mat-option
        >
      </mat-select>
    </mat-form-field> -->

    <!-- textbox -->
    <mat-form-field>
      <mat-label>Var2</mat-label>
      <input matInput [(ngModel)]="conditionVar2" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="setCustomConditions()"
    >
      Set Custom Condition
    </button>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="clearCustomConditions()"
    >
      Clear Custom Condition
    </button>

  </div>
</div>
