<div class="inputContainer">
  <div class="rowContainer topMargin">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput class="input" [(ngModel)]="item.name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput class="input" [(ngModel)]="item.description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Link</mat-label>
      <input matInput class="input" [(ngModel)]="item.link" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput class="input" [(ngModel)]="item.price" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ingredients</mat-label>
      <mat-select
        class="inputContainer"
        [(ngModel)]="inputIngredients"
        multiple
      >
        <mat-option
          *ngFor="let ingredient of allIngredients"
          [value]="ingredient"
        >
          {{ ingredient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Servings</mat-label>
      <input matInput class="input" [(ngModel)]="servings" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="addItem()"
    >
      Add Item with Ingredients to DB
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="updateItem()"
    >
      Update Item with Ingredients in DB
    </button>
  </div>
  <!-- delete item with ingredients -->
  <div class="rowContainer topMargin">
    <mat-form-field>
      <mat-label>id</mat-label>
      <input matInput class="input" [(ngModel)]="item.id" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="deleteItem()"
    >
      Delete Item with Ingredients from DB
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="blacklistItem()"
    >
      Blacklist Item from DB
    </button>
  </div>


  <!-- add ingredient -->
  <div class="rowContainer topMargin">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput class="input" [(ngModel)]="ingredient.name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput class="input" [(ngModel)]="ingredient.description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price / Gram</mat-label>
      <input matInput class="input" [(ngModel)]="ingredient.price" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="addIngredient()"
    >
      Add Ingredient to DB
    </button>
  </div>

  <!-- delete ingredient by id -->
  <div class="rowContainer topMargin">
    <mat-form-field>
      <mat-label>Name</mat-label>

      <mat-select class="inputContainer" [(ngModel)]="ingredient.id">
        <mat-option
          *ngFor="let ingredient of allIngredients"
          [value]="ingredient.id"
        >
          {{ ingredient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="deleteIngredient()"
    >
      Delete Ingredient from DB
    </button>
  </div>

  <mat-form-field appearance="fill">
    <ngx-mat-dropzone>
      <input type="file" fileInput />
    </ngx-mat-dropzone>
  </mat-form-field>

  <style>
    .inputContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    .rowContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    .topMargin {
      margin-top: 20px;
    }
    .leftMargin {
      margin-left: 220px;
    }
    .button {
      height: 56px;
      top: -10px;
      width: 212px;
    }
    .input {
      height: 60px; /* Set the same height as the button */
      box-sizing: border-box; /* Use border-box for consistent box-sizing */
    }
  </style>
</div>
