/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #313131;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
::-webkit-scrollbar-thumb:active {
  background: #444;
}
